<!DOCTYPE html>

{% extends 'SendEmailApp\base.html' %}


{% block title %} {{ title }} {% endblock %}

{% block stylesheet %}
<style>
    #yourBtn {
        position: relative;
        top: 0px;
        font-family: calibri;
        width: auto;
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px dashed #BBB;
        text-align: center;
        background-color: #DDD;
        cursor: pointer;
    }

    #send_btn {
        width: 200px;
    }
</style>
{% endblock %}

{% block content %}

    <div class="container">

        <br/>

        <h1>Email Sending Form</h1>
    
        <br/>
    
        <a href="{% url 'home' %}" class="btn btn-info">Home</a>

        <br/><br/><br/>

        <div class="row">
            <div class="col-md-7">
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-dark alert-dismissible fade show" role="alert">
                            <strong> {{ msg }} </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Email Form</h4>
                        </div>
                        <br/>
                        <div class="card-text">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% load crispy_forms_tags %}

                                <!-- The next line is very important to create the crispy effect in the forms -->
                                <!-- {{ form | crispy }} -->
                                
                                {{ form.fullname.label }}
                                {{ form.fullname | linebreaks }}
                                {{ form.company.label }}
                                {{ form.company | linebreaks }}
                                {{ form.designation.label }}
                                {{ form.designation | linebreaks }}
                                {{ form.email.label }}
                                {{ form.email | linebreaks }}
                                {{ form.subject.label }}
                                {{ form.subject | linebreaks }}
                                {{ form.message }}
                                <br/>
                                <!-- Mocked file-upload button -->
                                <div id="yourBtn" onclick="getFile()">click to upload a file</div>
                                <div style="height: 0px;width: 0px; overflow:hidden;">
                                    <!-- Real file upload button -->
                                    {{ form.attachment }}
                                    <!-- <input id="upfile" type="file" value="upload" onchange="sub(this)" /> -->
                                </div>
                                <br/><br/><br/>

                                <button type="submit" class="btn btn-info" id="send_btn">Send</button>
                            </form>
                        </div>
                    </div>
                </div>

                <br/><br/><br/>

            </div>
            <div class="col-md-5"></div>
        </div>


        <br/>
    </div>
    
{% endblock %}



{% block javascript %}
<script>
    function getFile() {
        document.getElementById("upfile").click();
    }

    function sub(obj) {
        var file = obj.value;
        var fileName = file.split("\\");
        document.getElementById("yourBtn").innerHTML = fileName[fileName.length - 1];
        ChangeColor();
        document.myForm.submit();
        event.preventDefault();
    }

    function ChangeColor()  
    {  
        document.getElementById('yourBtn').style.backgroundColor='rgb(167, 167, 167)';  
        setTimeout("sub(obj)",2000);  
    }  
</script>
{% endblock %}